<div class='col-md-8 col-md-offset-2' style='padding-top: 20px; text-align: center;'>
  <ul class="nav navbar-nav" style='padding-right: 10px; font-size: larger; width: 100%;'>
    <%= link_to 'Past Intern Expeirence |', summaries_path %>
    <%= link_to 'FAQ |', most_faqs_path %>
    <%= link_to 'Ask a Question', ask_a_question_path, data: { no_turbolink: true } %>
  </ul>
</div>