<div class="col-xs-12">
  <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">

    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
      <div class="item active one">
        <h2></h2>
        <div class="carousel-caption">
          <h3>Looking for a good work life balance?</h3>
          <p><%= link_to 'Then checkout our Intern Events', public_images_path, style: 'color: white;' %></p>
        </div>
      </div>
      <div class="item two">
        <h2></h2>
        <div class="carousel-caption">
          <h3>Learn more from past Interns</h3>
          <p><a href='/summaries' style='color: white;'>See what they thought of their past internships</a></p>
        </div>
      </div>
      <div class="item three">
        <h2></h2>
        <div class="carousel-caption">
          <h3>Have a Question?</h3>
          <%= link_to 'Ask our wounderful staff!', ask_a_question_path, data: { no_turbolink: true }, style: 'color: white;' %>
        </div>
      </div>
    </div>

    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#myCarousel").carousel({
            interval : 7000,
            pause: false
        });
    });
</script>