<% if @gallery.event && @gallery.event.name %>
  <%= @gallery.event.name %>
<% end %>
<% if @gallery.photo_challenge && @gallery.photo_challenge.title %>
  <%= @gallery.photo_challenge.title %>
<% end %>
<% if @gallery.photos.any? %>
  <% @gallery.photos.each do |photo| %>
    <%= link_to image_tag(photo.picture_url), photo_path(photo.id) %>
  <% end %>
<% else %>
  <h5>No images available</h5>
<% end %>