<% if @gallery && @gallery.event.name && @gallery.photos.any? %>
  <%= @gallery.event.name %>
  <% @gallery.photos.each do |photo| %>
    <%= link_to image_tag(photo.picture_url), photo_path(photo.id) %>
  <% end %>
<% else %>
  <h5>No images available</h5>
<% end %>